#sessions{
  width: 180px;
  margin: 60px auto;
  font-size: 18px;
}

#sessions h2{
  font-size: 30px;
  margin: 0 0 30px 0;
}

#sessions p{
  margin: 0 0 5px 0;
}

#sessions div{
  margin: 0 0 15px 0;
}
